<h1>投稿が完了しました！</h1>
<h4>内容の確認</h4>
<div><%= image_tag @picture.user.image.url, class: "icon-image" %></div>
<div><%= @picture.user.name %></div>
<div><%= image_tag @picture.image.url, class: "icon-image" %></div>
<div><%= @picture.content %></div>
          
          
      
